
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  .btn-orange{
      background-color: orangered;
      border: none;
      padding: 10px;
      font-weight: bold;
      color: white;
      border-radius: 5px;
  }
  
  .header {
    background-color: #232323;
    width: 100%;
    height: 80px;
    border-bottom: solid orangered 3px;
  }
  
  .header h1 {
    float: left;
    color: white;
  }
  
  .header ul {
    
    list-style: none;
    float: right;
  }
  
  .header h1,
  .header ul {
    margin-top: 20px;
  }
  
  .header li {

    display: inline-block;
  
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    background-color: #444444;
  }
  
  .header ul li a {
  
    text-decoration: none;
    color: white;
  }
  
  .header .text-orange {
    color: orangered;
    font-weight: bold;
  }
  
  .banner {
    width: 100%;
    height: 450px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/249203/pexels-photo-249203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    
  }
  .claro{
    background-color: rgba(255, 255, 255, 0.3) ;
    width: 100%;
    height: 450px;
  }
  .banner h1 {
    padding-top: 150px;
    font-size: 40px;
    color: orangered;
  }
  
  .banner h3 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 15px;
    color: #232323;
  }

  .news {
    width: 100%;
    height: 80px;
    background-color: #232323;
    text-align: center;
  }
  
  .news button{
      margin-top: 25px;
  }

  
  .box{
    text-align: center;
  }
  
  .box-item{
    display: inline-block;
    width: 32%;
  }
  
  .box-item img{
    width: 100px;
    margin-top: 35px;
  }
  
  .box-item h3, .box-item p{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .box2{
    text-align: center;
    background-color: #232323;
    color: orangered;
  }
  
  .box2-item{
    display: inline-block;
    width: 32%;
    padding-top: 35px;
  }
  #iconeF{
    padding-top: 35px;
  }
  
  .box2-item h3, .box-item p{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .texto{
    width: 50%;
    height: 400px;
    float: left;
    background-color: #232323;

  }
  .imagem{
    width: 50%;
    height: 400px;
    float: left;
    

  }
  .imagem img{
    width: 100%;
    height: 100%;
  }
  .icone{
    padding-left: 25%;
  }
  #engre {
    font-size:380px;
    color: #232323;
}
#engre:hover{animation-play-state: paused; color: orangered;}
.descricao{
  padding: 9%;
  color: orangered;
}